<h1>Edit <%= @farm.name %></h1>

<%= form_with url: "/farms/#{@farm.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  <%= form.label :has_animals, 'Has Animals' %>
  <%= form.check_box :has_animals %><br><br>
  <%= form.label :num_of_fields, 'Number of Fields' %>
  <%= form.text_field :num_of_fields %><br>
  <%= form.submit "Update #{@farm.name}" %>
<% end %>
