<h1>All Farms</h1>

<%= button_to "Create New Farm", "/farms/new", method: :get %>

<% @farms.each do |farm| %>
  <h3><a href="/farms/<%= farm.id %>"><%= farm.name %></a></h3>
  <p>(Created at: <%= farm.created_at %>)</p>
  <%= button_to "Update #{farm.name}", "/farms/#{farm.id}", method: :get %><br>
  <%= button_to "Delete #{farm.name}", "/farms/#{farm.id}", method: :delete %>
<% end %>
