<nav>
  <a href='/farms'>Farm Index</a>
  <a href='/farmers'>Farmer Index</a>
  <a href='/gardens'>Garden Index</a>
  <a href='/plants'>Plants Index</a>
</nav>

<h1><%= @farm.name %></h1>

<p>Has Animals: <%= @farm.has_animals %> </p>
<p>Number of Fields: <%= @farm.num_of_fields %></p>
<p>Number of Farmers: <a href="/farms/<%= @farm.id %>/farmers/"><%= @farm.farmers.length %></a></p>

<%= button_to "Update #{@farm.name}", "/farms/#{@farm.id}/edit", method: :get %>
<br>
<%= button_to "Delete #{@farm.name}", "/farms/#{@farm.id}", method: :delete %>
