<h1><%= @farm.name %></h1>

<p>Has Animals: <%= @farm.has_animals %> </p>
<p>Number of Fields: <%= @farm.num_of_fields %></p>

<p>Number of Farmers: <a href="/farms/<%= @farm.id %>/farmers/"><%= @farm.farmers.length %></a></p>
