<h1><%= @farm.name %></h1>

<p>Has Animals: <%= @farm.has_animals %> </p>
<p>Number of Fields: <%= @farm.num_of_fields %></p>
<p>Number of Farmers: <%= link_to "#{@farm.farmers.length}", "/farms/#{@farm.id}/farmers/" %>

<%= link_to "Update #{@farm.name}", "/farms/#{@farm.id}/edit", method: :get %>
<%= link_to "Delete #{@farm.name}", "/farms/#{@farm.id}", method: :delete %>
