<h1><%= @garden.name %>'s Plants</h1>

<%= link_to 'Add New Plant', "/gardens/#{@garden.id}/plants/new", method: :get %>
<%= link_to 'Sort by Name', "/gardens/#{@garden.id}/plants?sort=alpha" %>

<%= form_with url: "/gardens/#{@garden.id}/plants", method: :get, local: true do |form|  %>
  <%= form.label :number, 'Minimum Height' %>
  <%= form.number_field :number %>
  <%= form.submit 'Only Return Plants over Mature Height'  %>
<% end %>

<% @plants.each do |plant| %>
<div class='index-item'>
   <h3><%= link_to "#{plant.name}", "/plants/#{plant.id}" %></h3>
  <p>Mature Height: <%= plant.mature_height %></p>
  <p>Edible: <%= plant.edible %></p>
    <%= link_to "Edit #{plant.name}", "/plants/#{plant.id}/edit" %>
  <%= link_to "Delete #{plant.name}", "/plants/#{plant.id}", method: :delete %>
</div>
<% end %>
