<nav>
  <a href="/plants">Plant Index</a>
  <a href="/gardens">Garden Index</a>
</nav>

<h1><%= @garden.name %></h1>

<%= link_to "sort by name", "/gardens/#{@garden.id}/plants?sort=alpha" %>
<% @plants.each do |plant| %>
  <h2><%= plant.name %></h2>
  <p>Edible: <%= plant.edible %></p>
  <p>Mature Height: <%= plant.mature_height %></p>
<% end %>

<%= button_to "Add New Plant", "/gardens/#{@garden.id}/plants/new", method: :get %>
