<h1>Edit <%= @garden.name %></h1>

<%= form_with url: "/gardens/#{@garden.id}", method: :patch, local: true do |form| %>
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %><br><br>
  <%= form.label :irrigation, 'Garden Has Irrigation' %>
  <%= form.check_box :irrigation %><br><br>
  <%= form.label :plant_capacity, 'Plant Capacity' %>
  <%= form.number_field :plant_capacity %><br>

  <%= form.submit 'Update Garden' %>
<% end %>
