<h1>All Gardens</h1>
<%= link_to 'Add New Garden', '/gardens/new', method: :get %>

<% @gardens.each do |garden| %>
<div class='index-item'>
  <h3><%= link_to "#{garden.name}", "/gardens/#{garden.id}" %></h3>
  <p>(<%= garden.created_at %>)</p>
  <%= link_to "Edit #{garden.name}", "gardens/#{garden.id}/edit"  %>
  <%= link_to "Delete #{garden.name}", "/gardens/#{garden.id}", method: :delete %>
</div>
<% end %>
