<h1>Add a New Garden</h1>

<%= form_with url: '/gardens', method: :post, local: true do |form| %>
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %>
  <%= form.label :irrigation, "Garden has irrigation" %>
  <%= form.check_box :irrigation %>
  <%= form.label :plant_capacity, 'Plant Capacity' %>
  <%= form.number_field :plant_capacity %>

  <%= form.submit "Add Garden" %>
<% end %>
