<h1><%= @farm.name %>'s Farmers</h1>

<%= link_to "Add New Farmer", "/farms/#{@farm.id}/farmers/new", method: :get %>
<%= link_to "Sort by Name", "/farms/#{@farm.id}/farmers?sort=alpha" %>

<%= form_with url: "/farms/#{@farm.id}/farmers", method: :get, local: true do |form| %>
  <%= form.label :number, "Enter Age Here:" %>
  <%= form.text_field :number %><br>
  <%= form.submit "Only return records that are over the age submitted" %>
<% end %>

<% @farmers.each do |farmer| %>
  <div class="index-item">
  <h3><%= farmer.name %></h3>
  <p>Age: <%= farmer.age %></p>
  <p>Owns Land: <%= farmer.owns_land %></p>
  <%= link_to "Edit Farmer #{farmer.name}", "/farmers/#{farmer.id}/edit", method: :get %>
  <%= link_to "Delete Farmer #{farmer.name}", "/farmers/#{farmer.id}", method: :delete %>
  </div>
<% end %>
