<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href='/'>Home</a>
      <a href='/farms'>Farm Index</a>
      <a href='/farmers'>Farmer Index</a>
      <a href='/gardens'>Garden Index</a>
      <a href='/plants'>Plants Index</a>
    </nav>
    <%= yield %>
  </body>
</html>
